body {
   background-color: #343a40;
   font-weight: 200;
}
header {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

/* .toggleDisplayFire {
   
} */



header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
  z-index: 1;
}
/* 
video .toggleDisplayFire {
    visibility: visible
}

video .toggleDisplaySmoke {
   visibility: hidden;
} */

.display-3 {
    font-family: 'Poppins', sans-serif;
}

button {
    border-radius: .25rem;
    background-color: #6c757d;
    border-color: #6c757d;
}

#fireBtn {
    background: transparent;
    border-color: transparent;    
}

#fireBtn img {
    height: 5rem;
}

#airBtn {
    background: transparent;
    border-color: lightgray;
    
}
#airBtn img {
    height: 5rem;
    opacity: 0;
    text-align: center;
    

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#airBtn img.load {
    opacity: 1;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
    
}


button a:link {
    color: #668586;
  }
  
  /* visited link */
 button  a:visited {
    color: #A7ACD9;
  }
  
  /* mouse over link */
  button a:hover {
    color: #93C6D6;
    text-decoration: none;
  }
  
  /* selected link */
  button a:active {
    color: #133C55;
  }

  section {
      color: white;
  }
/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url('http://i64.tinypic.com/ivvf2p.png') rgb(80, 79, 79) no-repeat center center scroll;
  }
  header video {
    display: none;
  }
} */