@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

body {
   background-color: #212529;
   font-weight: 200;
}
header {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

/* .toggleDisplayFire {
   
} */

.colourChange {
    color: white;
}



header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
  z-index: 1;
}
/* 
video .toggleDisplayFire {
    visibility: visible
}

video .toggleDisplaySmoke {
   visibility: hidden;
} */

.display-3 {
    font-family: 'Poppins', sans-serif;
}

button {
    border-radius: .25rem;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
    margin: .5rem;
}

#fireBtn {
    background: transparent;
    border-color: transparent;

}


#airBtn {
    background: transparent;
    border-color: transparent;
    
}
#airBtn img {
    height: 5rem;
    opacity: 0;
    text-align: center;
    

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#fireBtn img {
    height: 5rem;
    opacity: 0;
    text-align: center;
    

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#airBtn img.load {
    opacity: 1;
}

#fireBtn img.load {
    opacity: 1;
}

.mb-0 {
    text-align: center!important;
}

#exploreBtn {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2rem;
}

.colourChange h1 {
    font-family: 'Mountains of Christmas', cursive;
}

/* button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
    
} */


button a:link {
    color: #8FA998;
    
  }
  
  /* visited link */
 button  a:visited {
    color: #A7ACD9;
  }
  
  /* mouse over link */
  button a:hover {
    color: #93C6D6;
    text-decoration: none;
  }
  
  /* selected link */
  button a:active {
    color: #133C55;
  }

  section {
      color: white;
  }
  

  .elementBtnWrapper { 
    padding: 20px;     
  } 
  
  @keyframes shadow-pulse-air {
    0% {
      box-shadow: 0 0 0 0px rgba(147, 198, 214, 0.2);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(147, 198, 214, 0);
    }
  }
 
  #airBtn {
    text-align: center;
    /* background: rgba(30, 144, 255, 0.6); */
    border-radius: 50%;
    animation: shadow-pulse-air 3s infinite;
  }

  #fireBtn {
    text-align: center;
    /* background: rgba(30, 144, 255, 0.6); */
    border-radius: 50%;
    animation: shadow-pulse-air 3s infinite;
  }

.colourChange h1.fire {
    background: linear-gradient(344deg, #520000, #990d35, #d52941, #f2a359, #fcd581);
    background-size: 100% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: Fire 5s ease infinite;
    -moz-animation: Fire 5s ease infinite;
    animation: Fire 5s ease infinite;
}


@-webkit-keyframes Fire {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@-moz-keyframes Fire {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@keyframes Fire { 
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}

}

.colourChange h1.air {
    background: linear-gradient(270deg, #1C3738, #668586, #93c6d6, #a7acd9, #7E52A0);
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: air 5s ease infinite;
    -moz-animation: air 8s ease infinite;
    animation: air 8s ease infinite;
}

@-webkit-keyframes air {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes air {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes air { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}

.imgAlign {
    text-align: center;
    margin-top: 2rem;
}



#avatarImg {
    margin: 6rem;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    text-align: center;
    border-style: none;
}

@media (max-width: 426px) {
     
    .display-3 {
        font-size: 3rem!important;
    }
    #avatarImg {
        width: 200px;
        height: 200px;
     
    }
    .glow {
        overflow-x: hidden;
        overflow-y: hidden;
    }
 }

 .widthControl {
     width: 100%;
 }